
<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">

            <svg class="bi pe-none me-2" width="190" height="190"><use xlink:href="#bootstrap"/></svg>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "/" %}active{% endif %}" href="/">Home</a>
                </li>

                <hr>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "/personal-work/" %}active{% endif %}" href="/personal-work">Personl work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "/sketchbook/" %}active{% endif %}" href="/sketchbook/">Sketchbook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "/printmaking/" %}active{% endif %}" href="/printmaking/">Printmaking</a>
                </li>
                <li class="nav-item {% if page.url == "/comics/" %}active{% endif %}" href="/comics/">
                    <a class="nav-link" href="#">Comics</a>
                </li>

                <hr>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "/about/" %}active{% endif %}" href="/about/">About / Contact</a>
                </li>
            </ul>

            <div class="container my-5">
                <div class="row text-center">
                    <div class="col">
                        <i class="bi bi-instagram"></i>
                    </div>

                    <div class="col">
                        <i class="bi bi-behance"></i>
                    </div>

                    <div class="col">
                        <i class="bi bi-r-square"></i>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>
