body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1rem;
    background-color: #f8f9fa;
}

.sidebar .flex-column {
    margin-top: 50px;
}

.social-bar .bi {
    font-size: 20px;
}

.social-bar .bi-behance {
    margin: 0 30px;
}

.content {
    margin-left: 250px;
    padding: 1rem;
}

.me-2 {
    margin-left: 10px;
    background-color: #327dc9;
}

.me-large {
    margin-left: 10px;
    background-color: #a0a0a0;
}


.grid {
    width: 100%; /* Make sure the grid takes up the full width */
}

.grid-sizer,
.grid-item {
    width: 30%;
}

.grid-item2 {
    width: 45%;
}

.nav-item > .active {
    color: #FE5B53;
}


.card {
    border: none;
}

.card-title {
    text-align: center;
    font-weight: normal;
}

.card-img-top {
    height: 400px;
}
