@import url(https://db.onlinewebfonts.com/c/4e040acb355e0238362fcea498579b5c?family=Alibaba-PuHuiTi-R);
@import url(https://db.onlinewebfonts.com/c/7c534f5f0b44f2e50844eac35642e62a?family=Alibaba-PuHuiTi-B);

@font-face {
    font-family: "Alibaba-PuHuiTi-R";
    src: url("https://db.onlinewebfonts.com/t/4e040acb355e0238362fcea498579b5c.eot");
    src: url("https://db.onlinewebfonts.com/t/4e040acb355e0238362fcea498579b5c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4e040acb355e0238362fcea498579b5c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4e040acb355e0238362fcea498579b5c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4e040acb355e0238362fcea498579b5c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4e040acb355e0238362fcea498579b5c.svg#Alibaba-PuHuiTi-R")format("svg");
}

@font-face {
    font-family: "Alibaba-PuHuiTi-B";
    src: url("https://db.onlinewebfonts.com/t/7c534f5f0b44f2e50844eac35642e62a.eot");
    src: url("https://db.onlinewebfonts.com/t/7c534f5f0b44f2e50844eac35642e62a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7c534f5f0b44f2e50844eac35642e62a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7c534f5f0b44f2e50844eac35642e62a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7c534f5f0b44f2e50844eac35642e62a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7c534f5f0b44f2e50844eac35642e62a.svg#Alibaba-PuHuiTi-B")format("svg");
}

body {
    font-family: "Alibaba-PuHuiTi-R", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1rem;
    background-color: #f8f9fa;
}

.sidebar .flex-column {
    margin-top: 50px;
}

.sidebar .nav-link {
    font-size: 23px;
}


.social-bar {
    margin-top: 50px;
    margin-left: 20px;
}

.social-bar a {
   color: inherit;
   text-decoration: none;
}

.social-bar .bi {
    font-size: 20px;
}

.social-bar .bi-behance {
    margin: 0 30px;
}

.content {
    margin-left: 250px;
    padding: 1rem;
}

.me-2 {
    margin-left: 10px;
}

.me-large {
    margin-left: 10px;
    background-color: #a0a0a0;
}


.nav {
    margin-left: 22px;
}

.card {
    border: none;
}

.card-title {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: #666666;
}

.card-img-top {
    height: 400px;
}

.card a {
    text-decoration: none !important;
}

.nav .nav-link {
    color: #333333;
}

.nav-item > .active {
    color: #FE5B53 !important;
}

.email-address {
    font-family: Alibaba-PuHuiTi-B;
    font-weight: bold;
}

.about p {
    font-size: 20px;
}
